 <footer class="footer">
    <div class="container">
        <div class="row">
            <br>
            <br>
            <p style="text-align: center">&copy; 2018 John Mark Chambers</p>
        </div>
        
    </div>
</footer>