<body data-spy="scroll" data-target=".navbar">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <ul class="nav navbar-nav">
            <li><a href="../index.hbs">Home</a></li>
            <li><a href="../about.hbs">Portfolio</a>
            <li><a href="../portfolio.hbs">Profile</a></li>
            <li><a href="../contact.hbs">Contact</a></li>
        </ul>
    </nav>