<section class="social-media">
  <div class="container">
    <div class="action-box text-center">
      <!-- get icons -->
      <h2>Get in touch with me</h2>
      <hr>
      <div class="links">
        <div class="row">
          <div class="col-sm-3">
            <div class="linkedin">
              <a href="https://www.linkedin.com" target="_blank">
                <i class="fa fa-linkedin" style="font-size:36px"></i>
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="github">
              <a href="https://www.github.com/dr3adlokk target="_blank">
                <i class="fa fa-github" style="font-size:36px"></i>
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="instagram">
              <a href="https://www.instagram.com/" target="_blank">
                <i class="fa fa-instagram" style="font-size:36px"></i>
              </a>
            </div>
          </div>
          {{!-- <div class="col-sm-3">
            <div class="fa">
              <a href="https://www.facebook.com" target="_blank">
                <i class="fa fa-facebook-official" style="font-size:36px"></i>
              </a> --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>