<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Professional Profile</title>
 <!-- boot strap obviously -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <link href="../public/css/style.css" rel="stylesheet">
    <link href="../public/css/media.css" rel="stylesheet">
    <style> 
    section {
        width: 100vw;
        height:100vh;
        padding: 50px;
    }
    .cl_white {
        color: white;
    }
    
    </style>

</head>

<body data-spy="scroll" data-target=".navbar">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <ul class="nav navbar-nav">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./port.html">Portfolio</a>
            <li><a href="./profile.html">Profile</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>

    <section id= "home" style="background: url('./images/photography/4web/skyline.jpeg') ; background-size: 100% 100%;" class="cl_white text-center">
        <h1>My Portfolio</h1>
        <p class="lead"></p>
        <button class="btn btn-default">Contact Me</button> 
    </section>




    

    


    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
    </script>
    
</body>
</html>